{% extends "shop/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Login </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group my-2">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
             <a class="ml-2" href="{% url 'register' %}">forgot password ?</a>
             </small> <br>
            <hr>
            <small class="text-muted">
               Need an Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small> <br>
            <a class="btn btn-danger" href="#" role="button">Login with Instagram</a>
            <a class="btn btn-primary" href="#" role="button">Login with Facebook</a>
            <a class="btn btn-info" href="#" role="button">Login with LinkedIn</a>
        </div>
    </form>
      
   
    
</div>
{% endblock content %}