{% extends "shop/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<section class="mx-5">
    <p>
    <h2 class="text-center">Privacy Policy</h2>
    <h3 class="text-center"><u>Terms and condition</u></h3>
    </p>


    <p>(the "Terms and Conditions") govern the use of nileconnects.com (the "Site"). This Site is owned and operatedby
        Nileconnects. This Site is an Adlisting website. <br>
    <p> By using this Site, you indicate that you have read and understand these Terms and Conditions and agree to abide
        by them at all times.</p>

    <strong class="text-left"><u>Intellectual Property</u></strong> <br>
    <p> All content published and made available on our Site is the property of Nileconnects and the Site's creators.
        This includes, but is not
        limited to images, text, logos, documents, downloadable files and anything that contributes to the composition
        of our Site.
    </p>


    <strong class="text-left"><u>Acceptable uses</u></strong> <br>
    As a user of our Site, you agree to use our Site legally, not to use our Site for illegal purposes, and not to:
    <p>
    <ul>
        <li>Harass or mistreat other users of our Site;</li>
        <li>Violate the rights of other users of our Site;</li>
        <li>Violate the intellectual property rights of the Site owners or any third party to the Site;</li>
        <li>Hack into the account of another user of the Site;</li>
        <li>Act in any way that could be considered fraudulent;</li>
        <li>Post any material that may be deemed inappropriate or offensive.</li>
    </ul>
    </p>

    <p>
        If we believe you are using our Site illegally or in a manner that violates these Terms and Conditions, we
        reserve the right to limit, suspend <br>
        or terminate your access to our Site. We also reserve the right to take any legal steps necessary to prevent you
        from accessing our Site.
    </p>

    <strong class="text-left"><u>Intellectual Property</u></strong> <br>
    <p>Users may post the following information on our Site:
    <ul>
        <li>Users for sale</li>
        <li>Photos</li>
    </ul>
    By posting publicly on our Site, you agree not to act illegally or violate these Terms and Conditions.
    </p>


    <!-- Accounts-->
    <strong class="text-left"><u> Accounts</u></strong>
    <p>
        When you create an account on our Site, you agree to the following:
    <ol>
        <li>
            You are solely responsible for your account and the security and privacy of your account, including
            passwords or sensitive <br>
            information attached to that account; and
        </li>
        <li>
            All personal information you provide to us through your account is up to date, accurate, and truthful and
            that you will update your <br>
            personal information if it changes.
        </li>
    </ol>

    We reserve the right to suspend or terminate your account if you are using our Site illegally or if you violate
    these Terms and Conditions.
    </p>

    <!-- Sales of Goods and services -->
    <strong class="text-left"><u> Sales of Goods and Services</u></strong>
    <p>
    <p>Sale of Goods And Services These Terms and Conditions govern the sale of goods and services available on our
        Site.</p>
    The following goods are available on our Site: <br>
    <ul>
        <li>Electronics;</li>
        <li>Cars;</li>
        <li>Real Estate;</li>
        <li>Clothing;</li>
        The following Services are available on our Site:

        <li>Jobs</li>

    </ul>
    </p>

    <p>
        These Terms and Conditions apply to all the goods and services that are displayed on our Site at the time you
        access it. This includes all
        products listed as being out of stock. All information, descriptions, or images that we provide about our goods
        and services are as accurate
        as possible. However, we are not legally bound by such information, descriptions, or images as we cannot
        guarantee the accuracy of all
        goods and services we provide. You agree to purchase goods and services from our Site at your own risk.
    </p>
    <p>
        We reserve the right to modify, reject or cancel your order whenever it becomes necessary. If we cancel your
        order and have already
        processed your payment, we will give you a refund equal to the amount you paid. You agree that it is your
        responsibility to monitor your
        payment instrument to verify receipt of any refund.
    </p>

    <!-- -->
    <strong class="text-left"><u> Third Party Goods and Services</u></strong>
    <p>
        Our Site may offer goods and services from third parties. We cannot guarantee the quality or accuracy of goods
        and services made <br>
        available by third parties on our Site.
    </p>

    <strong class="text-left"><u> Users Goods and Services</u></strong>
    <p>
        Our Site allows users to sell goods and services. We do not assume any responsibility for the goods and services
        users sell on our Site. We
        cannot guarantee the quality or accuracy of any goods and services sold by users on our Site. However, if we are
        made aware that a user is
        violating these Terms and Conditions, we reserve the right to suspend or prohibit the user from selling goods
        and services on our Site.
    </p>

    <strong class="text-left"><u> Subscriptions </u></strong>
    <p>
        Your subscription does not automatically renew. You will be notified before your next payment is due and must
        authorize that payment in
        order for your subscription to continue.
    </p>


    <strong class="text-left"><u> Free Trial </u></strong>
    <p>
        We offer the following free trial of our goods and services: 10 days free trial. <br> <br>
        At the end of your free trial, the following will occur: you will automatically be billed. <br> <br>
        To cancel your free trial, please follow these steps: remove credit card information.
    </p>


    <strong class="text-left"><u> Payment</u></strong>
    <p>
        We accept the following payment method in our Site :
        <ul>
            <li>Credit Card;</li>
            <li>Paypal</li>
            <li>Bitcoin</li>
        </ul>
    </p>

    <p>
    When you provide us with your payment information, you authorize our use of and access to the payment instrument you have chosen to
    use. By providing us with your payment information, you authorize us to charge the amount due to this payment instrument.
    </p>

    <p>
        If we believe you are using our Site illegally or in a manner that violates these Terms and Conditions, we reserve the right to limit, suspend
or terminate your access to our Site. We also reserve the right to take any legal steps necessary to prevent you from accessing our Site
    </p>
</section>

{% endblock content %}