{% extends "shop/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{ post.published_date }} by @{{ post.author }}
                    </div>
                    <!-- Post categories-->
                    <a class="badge bg-primary text-decoration-none link-light" href="#!"> category</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp" alt="..." />
                </figure>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <h1 class="text-success">{{ post.price }}$</h1>
                <p class="card-text  "> {{post.description}} </p>
            </section>
        </div>

        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Categories widget-->
            <div class="card mb-4">
                <h5 class="card-header text-success">Contact {{ post.author }}</h5>
                <div class="card-body">
                    <textarea name="message" id="text-message" cols="30" rows="8">Hello, i'd like to know if this product is still available.</textarea> <br>
                    <a class="btn btn-primary" href="#" role="button">Send </a>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Google Map </div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use,
                    and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}