{% extends "shop/base.html"%}
{% load crispy_forms_tags %}
{% block content %}

{% if venue %}
<h5>Results for " {{ searched }} "</h5>

<br>

<section class="py-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for venue in venues %}
        {% if forloop.first %}<div class="row">{% endif %}
            <div class="card mx-3 my-3" style="width: 18rem;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-truncate">{{ venue.title }}</h5>
                  <p class="card-text description text-truncate">{{ venue.description }}</p>
                  <p class="text-success">{{ venue.price }}$</p> 
                </div>
                <p> {{ venue.published_date }} </p>
              </div>
        {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    </div>

</section>

{% else %}
    <h5>No results for " {{ searched }} "</h5>
{% endif %}

{% endblock content %}